* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "tbcMEDIUM", sans-serif;
}

header {
  background-color: #1a1e1f;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* GLOBAL CLASSES */

.flex {
  display: flex;
}

.space_between {
  justify-content: space-between;
}

.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 18px;
}

.hover_color:hover {
  color: #f4f4f486;
}

/* GLOBAL CLASSES END */

/* FIRST SECTION CLASSES */
/* HEADER STYLES START */

.overflow_hidden {
  overflow: hidden;
}

.scrolled {
  background-color: rgba(26, 30, 31, 0.9);
}

.header_wrapper {
  align-items: center;
  padding-top: 5px;
  height: 50px;
}

.site_logo {
  width: 182px;
  height: 40px;
}

.desktop_navbar {
  width: 450px;
}
.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  color: #f4f4f4;
  line-height: 26px;
  font-size: 14px;
  transition: all 0.4s ease;
}

.navbar a:hover {
  color: #00a3e0;
}

.mobile_burger {
  display: none;
  margin-right: 5%;
  cursor: pointer;
  z-index: 100;
}

.mobile_burger div {
  width: 35px;
  height: 35px;
  position: relative;
}

.mobile_burger span {
  background: #f4f4f4;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transition: transform 0.5s, width 0.5s;
}

.mobile_burger .line-1 {
  width: 50%;
  transform: translate(0, -10px);
  transform-origin: 100% 100%;
}

.mobile_burger .line-3 {
  width: 50%;
  left: auto;
  right: 0;
  transform: translate(100%, 10px);
  transform-origin: 0 0;
}

.openmenu .line-1 {
  transform: translate(-4px, -5px) rotate(45deg);
}

.openmenu .line-3 {
  transform: translate(18px, -1px) rotate(45deg);
}

.openmenu .line-2 {
  transform: translate(0, -100%) rotate(-45deg);
}

.gray_button span {
  background: #f4f4f460;
}

.hide {
  right: -100%;
}

.hide2 {
  width: 0;
}

.show {
  right: 0;
}

.show2 {
  width: 100%;
}

.blur_background {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  top: 0;
  position: fixed;
}

.mobile_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.mobile_nav {
  background: #1a1e1f;
  position: sticky;
  left: 100%;
  width: 59%;
  height: 100%;
  padding: 40px 20px 40px 40px;
}

.mobile_nav ul {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile_nav li {
  display: flex;
  justify-content: end;
}

.mobile_nav a {
  color: #f4f4f4;
  transition: all 0.4s ease;
}

.mobile_nav a:hover {
  color: #00a3e0;
}
/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
  position: relative;
  width: 100%;
  height: 352px;
}
.image {
  width: 100%;
  height: 100%;
  background-image: url(../images/banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image {
  margin-top: 95px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero_title {
  margin-top: 85px;
  display: flex;
  gap: 45px;
  flex-direction: column;
  color: #f4f4f4;
  line-height: 1.6em;
}

.hero_title h1 {
  font-size: 42px;
  font-family: "tbcBOLD", sans-serif;
}

.hero_title h2 {
  font-family: "tbcBOLD", sans-serif;
  font-size: 38px;
}

.hero_title2 {
  display: flex;
  gap: 10px;
}

.description {
  background-color: #2b2b2b;
  padding: 45px 45px;
}

.description_items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.description_items h2 {
  color: #f4f4f4;
  font-size: 28px;
  line-height: 1.6em;
  font-weight: 200;
}

.description_items a {
  color: #00aef3;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: bold;
  width: 130px;
}

/* HERO STYLES END */
/*  */

/* Second Section Styles */

.second_section {
  background-color: #161616;
  padding-top: 20px;
  padding-bottom: 50px;
}

.cards_title h1 {
  font-size: 20px;
  color: #f4f4f4;
  font-family: "tbcLIGHT", sans-serif;
}

/* Card styles */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

.card {
  border: 1px solid #555555;
  border-radius: 5px;
}

.card_image {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
  font-size: 0.9em;
  padding: 25px;
  color: #f4f4f4;
}

.card_content h2 {
  font-size: 18px;
  font-weight: 100;
}

.card_content p {
  font-size: 14px;
  font-weight: 100;
}

.card_content > p:first-of-type {
  margin-top: 0;
}

.card_content > p:last-of-type {
  margin-top: 0;
}

.card_info {
  padding: 85px 15px 15px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card_info a {
  font-size: 16px;
  color: #00aef3;
  transition: all 0.5s ease;
}

.card_info a:hover {
  color: rgba(0, 174, 243, 0.6);
}

/* Card styles */
/*  */

/* Third Section Styles */

.third_section {
  position: relative;
  background-color: #2b2b2b;
}

.slider_title {
  margin-top: 25px;
  color: #f4f4f4;
  font-family: "tbcLIGHT", sans-serif;
  padding-bottom: 20px;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 253px;
}

.slide {
  display: flex;
  box-sizing: border-box;
  gap: 50px;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
}

.slide img {
  padding-right: 50px;
  aspect-ratio: 1/1;
  display: flex;
  width: 100%;
  object-fit: contain;
  height: auto;
}

.prev,
.next {
  display: flex;
  /* Hide arrows on mobile */
  margin-left: 100px;
  margin-right: 100px;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: 100;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  opacity: 0.5;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.pagination {
  display: flex;
  justify-content: center;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

/*  */

/* Fourth Section Styles */

.fourth_section {
  background-color: #161616;
  font-family: "tbcLIGHT", sans-serif;
}

.accordion {
  padding: 85px 35px 35px 35px;
  display: flex;
  flex-direction: column;
}

.accordion_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion_title h2 {
  color: #f4f4f4;
  font-size: 24px;
}

.desktop_link a {
  transition: all 0.4s ease-in-out;
  font-family: "tbcMEDIUM", sans-serif;
  color: #00aef3;
  font-size: 20px;
}

.mobile_link {
  display: none;
  margin-top: 25px;
}

.mobile_link a {
  transition: all 0.4s ease-in-out;
  color: #00aef3;
  font-family: "tbcMEDIUM", sans-serif;
  font-size: 20px;
}

.faq {
  margin-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #353131;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-family: "tbcLIGHT", sans-serif;
  color: #f4f4f4;
  font-weight: 100;
  font-size: 18px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.answer_title {
  margin: 35px 0 0 4px;
}

.answer span {
  font-family: "tbcLIGHT", sans-serif;
  font-weight: 200;
  color: #f4f4f4;
  line-height: 2;
  font-size: 14px;
  display: flex;
}

.first_answer {
  padding: 25px;
}

.answer p {
  font-family: "tbcLIGHT", sans-serif;
  font-weight: 100;
  color: #f4f4f4;
  line-height: 2;
  font-size: 14px;
  padding: 25px 0 0 5px;
}

.faq.active .answer {
  max-height: 1200px;
  animation: fade 1s ease-in-out;
}

.faq img {
  transform: rotate(90deg);
}

.faq.active img {
  transform: rotate(270deg);
}
/*  */

/* Fifth Section Styles */

footer {
  padding: 55px 15px 15px 0;
  display: flow-root;
}

.fifth_section {
  background-color: #1b1e1e;
}

.footer_links {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -40px;
  gap: 50px;
}

.footer_icons {
  margin-left: 70px;
  display: flex;
  gap: 10px;
}

.footer_icons img:hover {
  opacity: 0.8;
}

.footer_button a {
  background-color: #00aef3;
  color: #f4f4f4;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.footer_button a:hover {
  background-color: #f4f4f4;
  color: #161616;
}

.footer_rights {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 20px;
  color: #f4f4f4;
  font-size: 14px;
}

.footer_rights a {
  color: #f4f4f4;
  font-family: "tbcLIGHT", sans-serif;
}

/*  */

/* Animation For FAQ-Accordion */

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation Styles END */

/* Mobile Resolution */
@media (max-width: 1024px) {
  /* First Section Responsive */
  .desktop_navbar {
    display: none;
  }
  .mobile_burger {
    display: flex;
  }
  .image {
    height: 250px;
  }
  .hero_title {
    margin-top: 50px;
  }
  .hero_title h1 {
    font-size: 28px;
  }
  .hero_title h2 {
    font-size: 26px;
  }
  .hero_title {
    gap: 15px;
  }
  .hero_title2 {
    flex-direction: column;
    gap: 15px;
  }
  .description {
    margin-top: -110px;
    padding: 5px 5px;
  }
  .description_items h2 {
    font-size: 22px;
  }
  .description_items a {
    font-size: 18px;
    padding-bottom: 25px;
  }
  /*  */
  /* Second Section Responsive */
  .card_info {
    padding: 0 20px 20px 20px;
  }

  .scrolled-up {
    transform: translateY(0);
  }

  .scrolled-down {
    transform: translateY(-100%);
  }
  /*  */
  /* Third Section Responsive */
  .slides {
    height: 352px;
  }
  .slide {
    gap: 0;
    padding: 50px 0 50px 0px;
  }
  .slide img {
    padding-right: 0;
    height: 98px;
    aspect-ratio: 3/1;
  }

  .prev,
  .next {
    display: none;
  }

  .slide {
    flex-direction: column;
  }
  /*  */
  /* Fourth Section Responsive */
  .accordion {
    padding: 45px 15px 25px 15px;
  }

  .accordion .desktop_link {
    order: 3;
  }

  .desktop_link {
    display: none;
  }

  .mobile_link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*  */
}

@media (max-width: 600px) {
  /* Fifth Section Responsive */
  footer {
    padding: 55px 15px 15px 25px;
  }
  .footer_links {
    float: none;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .footer_button a {
    padding: 10px 20px 10px 20px;
  }
  .footer_icons {
    margin-left: 0;
    display: flex;
    gap: 20px;
  }
  /*  */
}
